services:
  PreRollarr:
    build: .
    container_name: PreRollarr
    environment:
      # Disable Python buffering so logs appear immediately
      - PYTHONUNBUFFERED=1

      # Plex Server connection (overrides config.yaml)
      - PLEX_URL=http://localhost:32400
      - PLEX_TOKEN=PERSONAL_PLEX_TOKEN

      # Path in Plex where the pre-rolls are located
      - PLEX_PATH=/tests/PreRoll

      # How many times per day should the pre-rolls be updated?
      - UPDATES_PER_DAY=24

    ports:
      - "7919:7919"
    volumes:
      # Configuration directory (rw so the web UI can save changes)
      - ./appdata/config.yaml:/app/config.yaml
      # Pre-roll video files directory (map your local Plex media)
      - /LOCAL_FILE_PATH_TO/PreRoll:/local-preroll:ro
    restart: unless-stopped
